<!-- form contact -->
<div class="row">
    <div class="col-lg-8 m-auto">
        <div class="card card-outline-secondary mt-5">
            <div class="card-header ">
                <h3 class="mb-0 ">Login</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/admin/register" autocomplete="off" class="form" role="form" >
                    <fieldset>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-md-6">
                                <label class="mb-1 " for="name"><strong>Name</strong></label>
                                <input class="form-control" id="name" name="name" required="" type="text">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <label class="mb-1 " for="email"><strong>Email</strong></label>
                                <input class="form-control" id="email" name="email" required="" type="text">
                            </div>
                            
                        </div>
                        <button class="btn btn-dark  btn-md mt-4 float-right" type="submit">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /form contact -->